*{
  color: #e6973e;
  font-family: Consolas;
}

body{
  background-color: #292929;
}

 h3{
  font-weight: 200;
}

h1,h2{
  font-weight: 500;
}

p{
  font-size: 0.9em;
}

section p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

section h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.profile{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "education profile profile contact"
                        "software profile profile languages";
}

main {
  grid-area: profile;
}

.education section {
  display: flex;
  align-items: center;
}

.education section svg{
  margin-left: 1em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.education section p{
  color: #efefef;
}

text {
  font-weight: bolder;
}
