:root{
  --orange: #e6973e;
  --black: #282828;
  --white: #efefef;
  --green: #448588;
}

aside{
  width: 25vw;
  margin-top: 6vh;
  flex: 1;
}

body{
  color: orange;
  font-family: Consolas;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
}


details{
  max-width: 13vw;
}

details > summary{
  list-style: none;
  font-size: 110%;
  margin-bottom: 0.5em;
}

dialog{
  position:absolute;
  z-index: 2; 
  margin-left: 0px;
  max-width: 15vw;
  left: 0.6em;
  top: 0.6em;
  background-color: var(--black);
  color: var(--orange);
}

footer{
  font-size: 120%;
  margin-left: 0.5em;
  top: 150vh;
}

h1,h2,h4{
  font-weight: 300;
}

h3{
  font-weight: 400;
}

img[src="./images/profile_picture_1.png"]{
  max-height: 13vh;
  max-width: 13vw;
  border-radius: 7vw;
  border: 3px solid var(--white);
  margin-top: 2vh;
  margin-bottom: 3vh;
}

main{
  width: 50vw;
  min-height: 100vw;
  background: no-repeat center/75% url("./images/blurred.png");
  padding-left: 2vw;
  padding-right:2vw ;
  flex:2;
  overflow-y: scroll;
  scrollbar-width:none ;
}

p{
  color: var(--white);
}

section{
  margin-bottom: 2vh;
  padding: 0.3em;
}

section h2{
  margin-bottom: 1em;
}

section p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

section h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

span{
  color:var(--white);
}

text {
  font-weight: bolder;
}

.circle {
  position: relative;
  z-index: 1;
}

.programming-icons{
  margin-left: 2em;
}

.programming-icons img{
  margin: 0.5em;
}

.qualification {
  display: flex;
  align-items: center;
}

.qualification svg{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.expandable-interactive{
  display: flex;
  margin-bottom: 1em;
}

.experience-interactive p{
  color: #efefef;
}

.expandable-interactive svg{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.software h3{
  margin-left: 1em;
}

.tech-icons{
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.tech-icons img{
  margin: 0.5em;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile > hgroup{
  font-size: 165%;
}

#portfolio h1{
  margin-bottom: 5vh; 
}

#portfolio div{
  max-width: 15vw;
}

#todo-project{
  position: relative;
  left: 600px;
  top: 45px;
}

#weather-project{
  position: relative;
  left: 375px;
  top: 75px;
}

#shop-project{
  position: relative;
  left: 240px;
  top: 140px;
}

#point-project{
  position: relative;
  left:150px;
  top: 225px;
}

#synth-project{
  position: relative;
  left: 105px;
  top: 360px;
}

#work-experience{
  min-height: 25vh;
}

#soft-skills{
  min-height: 15vh;
}

#soft-skills > details{
  margin-left: 1em;
}
