*{
  color: #e6973e;
  font-family: Consolas;
}

body{
  background-color: #292929;
  display: flex;
  flex-direction: row;
}

aside{
  width: 25vw;
}

details{
  max-width: 15vw;
}

details > summary{
  list-style: none;
}

details > p{
  margin-left: 0.7em;
}
main{
  width: 50vw;
}

img[src="./images/profile_picture_1.png"]{
  max-height: 13vh;
  max-width: 13vw;
  border-radius: 7vw;
}

dialog{
  position:relative;
  z-index: 2; 
  margin-left: 0px;
  left: 0.6em;
  top: -1em;
  background-color: #292929;
}
h3{
  font-weight: 400;
}

h1,h2{
  font-weight: 500;
}

p{
  font-size: 0.9em;
  color: #efefef;
}

section p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

section h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  position: relative;
  z-index: 1;
}

.qualification {
  display: flex;
  align-items: center;
}

.qualification svg{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}


.software h3{
  margin-left: 1em;
}

.programming-icons{
  margin-left: 2em;
}

.programming-icons img{
  margin: 0.5em;
}

.tech-icons{
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.tech-icons img{
  margin: 0.5em;
}

.expandable-interactive{
  display: flex;
  margin-bottom: 1em;
}

.experience-interactive p{
  color: #efefef;
}

.expandable-interactive svg{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

text {
  font-weight: bolder;
}

